.comment_list_item {
  width: 100%;
}

.comment_wrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}

.comment_header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profie_image {
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

.comment_date {
  font-size: 0.5em;
  color: #76c1b2;
}

.supplementary_wrapper {
  display: flex;
  align-items: center;
}

.user_incorrect_delete {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: var(--button-bg-color);
  color: var(--button-color);

  margin: 0;
  /* padding: 0.5rem 1rem; */
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 1.5rem;

  display: inline-block;
  width: 3rem;
  height: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  cursor: pointer;

  transition: 0.5s;
  --button-bg-color: darkslategray;
  --button-hover-bg-color: darkslategray;
}
.user_incorrect_delete:hover {
  background-color: black;
  outline: 0;
}
