.comment_toolbar_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: white;
}

.comment_inp_wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.comment_input {
  box-sizing: border-box;
  padding: 15px;
  border: none;
  background: #f5f5f5;
  flex: 1;
  border-radius: 10px;
  height: 60%;
  margin: 0px 20px 0px 20px;
}
