.filter_list {
  display: flex;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px;
}

.filter_list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.list_item {
  margin-right: 5px;
}

.list_item:last-child {
  margin-right: 0px;
}
