.house_add_form {
  width: 100%;
  height: 100%;
}

.main_image_preview_wrapper {
  margin-bottom: 24px;
}

.main_image_preview {
  position: relative;
  width: 100%;
  height: 400px;
}

.house_type_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 24px;
}

.house_type_section div[class$="_type_form"] {
  width: 49%;
  margin-bottom: 16px;
}

.keyword_list {
  display: flex;
}
