.house_add_form {
  width: 100%;
  height: 100%;
}

.house_main_section {
  margin-bottom: 20px;
}

.house_main_section .house_main_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_main_section .house_main_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_desc_section {
  margin-bottom: 20px;
}

.house_desc_section .house_desc_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_desc_section .house_desc_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_type_section {
  margin-bottom: 20px;
}

.house_type_section .house_type_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_type_section .house_type_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_address_section {
  margin-bottom: 20px;
}

.house_address_section .house_address_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_address_section .house_address_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_option_section {
  margin-bottom: 20px;
}

.house_option_section .house_option_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_option_section .house_option_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_keyword_section {
  margin-bottom: 20px;
}

.house_keyword_section .house_keyword_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_keyword_section .house_keyword_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_detail_image_section {
  margin-bottom: 20px;
}

.house_detail_image_section .house_detail_image_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_detail_image_section .house_detail_image_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_floor_section {
  margin-bottom: 20px;
}

.house_floor_section .house_floor_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_floor_section .house_floor_body {
  box-sizing: border-box;
  padding: 0px 10px;
}

.house_file_section {
  margin-bottom: 20px;
}

.house_file_section .house_file_header {
  box-sizing: border-box;
  padding: 20px;
}

.house_file_section .house_file_body {
  box-sizing: border-box;
  padding: 0px 10px;
}
