.house_near_places_wrapper {
  position: relative;
  padding-bottom: 50px;
}

.house_near_places_wrapper.fold {
  overflow: hidden;
  height: 500px;
}

.place_list {
  position: relative;
}

.fold_bar {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.fold_bar.fold {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    #ffffff 100%
  );
}
