.move_form_wrapper {
  background: white;
  width: 100%;
}

.move_date {
  margin-bottom: 40px;
}

.move_btns {
  display: flex;
  justify-content: right;
  box-sizing: border-box;
  padding: 15px;
}

.section_title {
  box-sizing: border-box;
  padding: 20px;
}
