.article_wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.new::after {
  content: "NEW";
  font-size: x-small;
  padding: 2px 4px;
  margin: 0px 10px;
  border-radius: 5px;
  background: rgb(219 112 147);
  color: #fff;
}

.article_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
}

.icon_views {
  display: flex;
  align-items: center;
}

.icon_chats {
  display: flex;
  align-items: center;
}

.icon_text {
  margin-left: 3px;
  color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  font-size: 0.7em;
}

.article_date {
  width: 100%;
}

.date_text {
  font-size: 0.7em;
  color: #76c1b2;
}
.content_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 말줄임 적용 */
  width: 14rem;
  font-size: 0.8rem;
  color: gray;
}
