.preview_image_scroll_wrapper {
  overflow: auto;
  width: 100%;
  margin-bottom: 25px;
}

.preview_image_scroll_wrapper::-webkit-scrollbar {
  display: none;
}

.image_list {
  margin-left: 30px;
  display: inline-flex;
}

.image_item {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}
